.benefits {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 27px;

  &__item {
    text-align: center;
  }
}

.benefits-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  

  &__icon {
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 50px;
      height: 20px;
      bottom: 4px;
      left: 100px;
      background-color: $block-color;
      z-index: -1;
    }

  }

  &__text {
    h3 {
      padding: 20px 0 3px;
      font-family: $montserrat-bold;
      font-size: 18px;
      line-height: 30px;
      text-transform: uppercase;

    }

    p {
      max-width: 720px;
      font-family: $open-sans;
      text-align: center;
      line-height: 30px;
      font-size: 14px;

    }
  }
}