.footer {
  &__wrapper {
    padding: 47px 0;
    display: flex;
    justify-content: space-between;
    font-family: $open-sans;
    text-transform: uppercase;
    font-size: 14px;

    @media (max-width: 1200px) {
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
    }
  }

  &__create-info {
    margin-bottom: 25px;
  }

  &__social {
    display: flex;
    justify-content: flex-end;

    @media (max-width: 1200px) {
      justify-content: center;
    }
  }
}

.nav-list {
  list-style-type: none;
  display: flex;

  @media (max-width: 900px) {
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }

  li {
    position: relative;
    padding: 0 19px;
    letter-spacing: 0.4px;

    &:first-child {
      padding-left: 0;
    }

    &:not(:last-child):before {
      position: absolute;
      content: '-';
      top: 0%;
      right: -3px;
    }
  }

  a {
    display: block;
    text-decoration: none;
    color: $text-color;
    transition: $card-transition;
    position: relative;
    text-align: center;

    &:hover,
    &:hover:before {
      color: $block-color;
      width: 100%;
    }

    &:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 1px;
      background-color: $block-color;
      transition: $card-transition;
    }
  }

}

.social-list {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  gap: 17px;

  svg {
    width: 16px;
    height: 16px;
    fill: $text-color;
    transition: $card-transition;

    &:hover {
      fill: $block-color;
      transform: scale(1.2);
    }
  }
}