.header {
  position: relative;
  background-image: url(../assets/img/header/bg.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  background-color: rgba(96, 96, 110, 1);
  filter: grayscale(0.5);
  cursor: default;
  color: $text-color;

  &__wrapper {
    font-family: $montserrat-bold;
    text-transform: uppercase;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
  }

  &__logo {
    font-size: 18px;

    a {
      color: $text-color;
      text-decoration: none;
    }
  }

  &__menu {
    height: 32px;
    width: 32px;
    cursor: pointer;
  }

  &__burger-menu {
    width: 32px;
    height: 1px;
    background-color: $text-color;
    top: 3px;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      width: 15px;
      height: 1px;
      background-color: $text-color;
      top: 7px;
      left: 0;
    }

    &::after {
      position: absolute;
      content: '';
      width: 23px;
      height: 1px;
      background-color: $text-color;
      top: 14px;
      left: 0;
    }
  }

  &__title {
    text-align: center;
    padding-top: 185px;
    padding-bottom: 18px;
    font-size: 36px;
    background: $header-gradient;
    background-size: 200% 100px;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient;
    animation-delay: 0;
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    transition: font-size 500ms ease-in-out;

  }

  &__subtitle {
    text-align: center;
    font-size: 14px;
  }

  .nav-list_none {
    display: none;
  }
}

.wrapper {
  max-width: $max-width;
  margin: 0 auto;
}