@import "variables";
@import "mixins";
@import "animation";
@import "fonts";
@import "header";
@import "we-do";
@import "benefits";
@import "pricing";
@import "newsletter";
@import "footer";

* {
  margin: 0;
  padding: 0;
}
body{
  color: $text-color;
}