$montserrat-reg: 'Montserrat', sans-serif;
$montserrat-bold: 'Montserrat Bold', sans-serif;
$open-sans: 'Open Sans', sans-serif;

$max-width: 1140px;
$text-color: #60606E;
$text-unactive: #a9a9a9;
$block-color: rgba(123, 238, 199, 1);
$hover-block-color: #65c5a4;
$card-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
$card-transition: 0.5s all ease-in-out;
$header-gradient: linear-gradient(90deg, #d3d2d2 0%, #60606e 37%, #dbdada 83%);