$montserrat-reg: 'Montserrat', sans-serif;
$montserrat-bold: 'Montserrat Bold', sans-serif;
$open-sans: 'Open Sans', sans-serif;

$max-width: 1140px;
$text-color: #60606E;
$block-color: rgba(123, 238, 199, 1);
$card-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
$card-transition: 0.5s all ease-in-out;